@import "global";

.main {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.header {
  align-self: center;
}

.cart, .favourite {
  margin: 0 5px;
}

.products {
  @include flexCenter;
  flex-wrap: wrap;
}
